body{
    margin-left:10em;
    margin-right:10em;
    background-image:linear-gradient(to right, black, white);
}
h1{
    color: whitesmoke;
    font-size: 4em;
    animation-name: blackWhite;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


}
#mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap:10px;
    grid-template-areas: 
    "btns canvas";
}

#grid{
    grid-area: canvas;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    border:0.1em dotted black;
    margin:0 auto; 
}
 
button{
    grid-area: btns;
    padding:1em; 
    margin:1em;
    min-width: 150px;
    font-size: 1em;
    flex-grow: 2;


}
button:hover{
    transform:scale(1.1);
    border-color:#ffc600;
    box-shadow:0 0 1rem #ffc600;
}
.grid{
    background-color:black;
    border:0.01em solid black;
}
 
 @keyframes blackWhite{
     from{
        text-shadow:10px -10px 10px black, 20px -10px 100px white;

     }
     to{
        text-shadow:10px -10px 10px white, 20px -10px 100px black;

     }
 }